=begin
#OpenAPI definition

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module ToriiBackendGenerated
  class ServerSessionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List user sessions
    # Returns all active (unexpired, unrevoked) sessions for the user, ordered by most recently used.
    # @param user_id [String] Identifier of the user whose sessions to list.
    # @param [Hash] opts the optional parameters
    # @return [Array<UserSessionResponse>]
    def list_sessions(user_id, opts = {})
      data, _status_code, _headers = list_sessions_with_http_info(user_id, opts)
      data
    end

    # List user sessions
    # Returns all active (unexpired, unrevoked) sessions for the user, ordered by most recently used.
    # @param user_id [String] Identifier of the user whose sessions to list.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UserSessionResponse>, Integer, Hash)>] Array<UserSessionResponse> data, response status code and response headers
    def list_sessions_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerSessionsApi.list_sessions ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling ServerSessionsApi.list_sessions"
      end
      # resource path
      local_var_path = '/api/server/v1/users/{userId}/sessions'.sub('{userId}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UserSessionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServerSessionsApi.list_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerSessionsApi#list_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke all sessions
    # Immediately revokes every active session for the user. Idempotent.
    # @param user_id [String] Identifier of the user whose sessions to revoke.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def revoke_all_sessions(user_id, opts = {})
      revoke_all_sessions_with_http_info(user_id, opts)
      nil
    end

    # Revoke all sessions
    # Immediately revokes every active session for the user. Idempotent.
    # @param user_id [String] Identifier of the user whose sessions to revoke.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def revoke_all_sessions_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerSessionsApi.revoke_all_sessions ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling ServerSessionsApi.revoke_all_sessions"
      end
      # resource path
      local_var_path = '/api/server/v1/users/{userId}/sessions'.sub('{userId}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServerSessionsApi.revoke_all_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerSessionsApi#revoke_all_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke specific session
    # Revokes a single session by id. Idempotent: returns 204 even if the session was already revoked or expired.
    # @param user_id [String] Identifier of the user who owns the session.
    # @param session_id [String] Identifier of the session to revoke.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def revoke_session(user_id, session_id, opts = {})
      revoke_session_with_http_info(user_id, session_id, opts)
      nil
    end

    # Revoke specific session
    # Revokes a single session by id. Idempotent: returns 204 even if the session was already revoked or expired.
    # @param user_id [String] Identifier of the user who owns the session.
    # @param session_id [String] Identifier of the session to revoke.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def revoke_session_with_http_info(user_id, session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerSessionsApi.revoke_session ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling ServerSessionsApi.revoke_session"
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling ServerSessionsApi.revoke_session"
      end
      # resource path
      local_var_path = '/api/server/v1/users/{userId}/sessions/{sessionId}'.sub('{userId}', CGI.escape(user_id.to_s)).sub('{sessionId}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServerSessionsApi.revoke_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerSessionsApi#revoke_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
