=begin
#Torii Backend API

#Server-to-server API (BAPI) for backend SDKs. Authenticated with a secret key (Bearer sk_live_* / sk_test_*).

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module ToriiBackendGenerated
  class InvitationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an invitation with optional pre-seeded metadata
    # @param create_environment_invitation_server_request [CreateEnvironmentInvitationServerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EnvironmentInvitationResponse]
    def create(create_environment_invitation_server_request, opts = {})
      data, _status_code, _headers = create_with_http_info(create_environment_invitation_server_request, opts)
      data
    end

    # Create an invitation with optional pre-seeded metadata
    # @param create_environment_invitation_server_request [CreateEnvironmentInvitationServerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnvironmentInvitationResponse, Integer, Hash)>] EnvironmentInvitationResponse data, response status code and response headers
    def create_with_http_info(create_environment_invitation_server_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitationsApi.create ...'
      end
      # verify the required parameter 'create_environment_invitation_server_request' is set
      if @api_client.config.client_side_validation && create_environment_invitation_server_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_environment_invitation_server_request' when calling InvitationsApi.create"
      end
      # resource path
      local_var_path = '/api/server/v1/invitations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_environment_invitation_server_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EnvironmentInvitationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InvitationsApi.create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitationsApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an invitation by id, including both metadata bags
    # @param invitation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EnvironmentInvitationDetailResponse]
    def get(invitation_id, opts = {})
      data, _status_code, _headers = get_with_http_info(invitation_id, opts)
      data
    end

    # Get an invitation by id, including both metadata bags
    # @param invitation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnvironmentInvitationDetailResponse, Integer, Hash)>] EnvironmentInvitationDetailResponse data, response status code and response headers
    def get_with_http_info(invitation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitationsApi.get ...'
      end
      # verify the required parameter 'invitation_id' is set
      if @api_client.config.client_side_validation && invitation_id.nil?
        fail ArgumentError, "Missing the required parameter 'invitation_id' when calling InvitationsApi.get"
      end
      # resource path
      local_var_path = '/api/server/v1/invitations/{invitationId}'.sub('{invitationId}', CGI.escape(invitation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EnvironmentInvitationDetailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InvitationsApi.get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitationsApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List invitations for this environment
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :status 
    # @option opts [String] :search 
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :cursor 
    # @return [CursorPageResponseEnvironmentInvitationResponse]
    def list1(opts = {})
      data, _status_code, _headers = list1_with_http_info(opts)
      data
    end

    # List invitations for this environment
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :status 
    # @option opts [String] :search 
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :cursor 
    # @return [Array<(CursorPageResponseEnvironmentInvitationResponse, Integer, Hash)>] CursorPageResponseEnvironmentInvitationResponse data, response status code and response headers
    def list1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitationsApi.list1 ...'
      end
      # resource path
      local_var_path = '/api/server/v1/invitations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = @api_client.build_collection_param(opts[:'status'], :multi) if !opts[:'status'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CursorPageResponseEnvironmentInvitationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InvitationsApi.list1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitationsApi#list1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resend a pending invitation with a fresh link
    # @param invitation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EnvironmentInvitationResponse]
    def resend(invitation_id, opts = {})
      data, _status_code, _headers = resend_with_http_info(invitation_id, opts)
      data
    end

    # Resend a pending invitation with a fresh link
    # @param invitation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnvironmentInvitationResponse, Integer, Hash)>] EnvironmentInvitationResponse data, response status code and response headers
    def resend_with_http_info(invitation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitationsApi.resend ...'
      end
      # verify the required parameter 'invitation_id' is set
      if @api_client.config.client_side_validation && invitation_id.nil?
        fail ArgumentError, "Missing the required parameter 'invitation_id' when calling InvitationsApi.resend"
      end
      # resource path
      local_var_path = '/api/server/v1/invitations/{invitationId}/resend'.sub('{invitationId}', CGI.escape(invitation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EnvironmentInvitationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InvitationsApi.resend",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitationsApi#resend\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a pending invitation
    # @param invitation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def revoke(invitation_id, opts = {})
      revoke_with_http_info(invitation_id, opts)
      nil
    end

    # Revoke a pending invitation
    # @param invitation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def revoke_with_http_info(invitation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitationsApi.revoke ...'
      end
      # verify the required parameter 'invitation_id' is set
      if @api_client.config.client_side_validation && invitation_id.nil?
        fail ArgumentError, "Missing the required parameter 'invitation_id' when calling InvitationsApi.revoke"
      end
      # resource path
      local_var_path = '/api/server/v1/invitations/{invitationId}'.sub('{invitationId}', CGI.escape(invitation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InvitationsApi.revoke",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitationsApi#revoke\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deep-merge metadata into a pending invitation
    # @param invitation_id [String] 
    # @param update_environment_invitation_metadata_request [UpdateEnvironmentInvitationMetadataRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EnvironmentInvitationDetailResponse]
    def update_metadata(invitation_id, update_environment_invitation_metadata_request, opts = {})
      data, _status_code, _headers = update_metadata_with_http_info(invitation_id, update_environment_invitation_metadata_request, opts)
      data
    end

    # Deep-merge metadata into a pending invitation
    # @param invitation_id [String] 
    # @param update_environment_invitation_metadata_request [UpdateEnvironmentInvitationMetadataRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnvironmentInvitationDetailResponse, Integer, Hash)>] EnvironmentInvitationDetailResponse data, response status code and response headers
    def update_metadata_with_http_info(invitation_id, update_environment_invitation_metadata_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitationsApi.update_metadata ...'
      end
      # verify the required parameter 'invitation_id' is set
      if @api_client.config.client_side_validation && invitation_id.nil?
        fail ArgumentError, "Missing the required parameter 'invitation_id' when calling InvitationsApi.update_metadata"
      end
      # verify the required parameter 'update_environment_invitation_metadata_request' is set
      if @api_client.config.client_side_validation && update_environment_invitation_metadata_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_environment_invitation_metadata_request' when calling InvitationsApi.update_metadata"
      end
      # resource path
      local_var_path = '/api/server/v1/invitations/{invitationId}'.sub('{invitationId}', CGI.escape(invitation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_environment_invitation_metadata_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EnvironmentInvitationDetailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InvitationsApi.update_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitationsApi#update_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
