=begin
#Torii Backend API

#Server-to-server API (BAPI) for backend SDKs. Authenticated with a secret key (Bearer sk_live_* / sk_test_*).

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module ToriiBackendGenerated
  class ServerOrganizationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get an organization
    # One organization with both metadata bags.
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ServerOrganizationResponse]
    def get_organization(organization_id, opts = {})
      data, _status_code, _headers = get_organization_with_http_info(organization_id, opts)
      data
    end

    # Get an organization
    # One organization with both metadata bags.
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerOrganizationResponse, Integer, Hash)>] ServerOrganizationResponse data, response status code and response headers
    def get_organization_with_http_info(organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerOrganizationsApi.get_organization ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ServerOrganizationsApi.get_organization"
      end
      # resource path
      local_var_path = '/api/server/v1/organizations/{organizationId}'.sub('{organizationId}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServerOrganizationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ServerOrganizationsApi.get_organization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerOrganizationsApi#get_organization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List organization members
    # Cursor-paginated page of the organization's USER memberships, each with both metadata bags. Ordered by member user id ascending (a creation-ordered uuid v7, which is also the seek key), NOT by join time.
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of items in the returned page (default 20; values outside 1-100 are clamped). (default to 20)
    # @option opts [String] :cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page.
    # @return [CursorPageResponseServerOrganizationMemberResponse]
    def list_members(organization_id, opts = {})
      data, _status_code, _headers = list_members_with_http_info(organization_id, opts)
      data
    end

    # List organization members
    # Cursor-paginated page of the organization&#39;s USER memberships, each with both metadata bags. Ordered by member user id ascending (a creation-ordered uuid v7, which is also the seek key), NOT by join time.
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of items in the returned page (default 20; values outside 1-100 are clamped). (default to 20)
    # @option opts [String] :cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page.
    # @return [Array<(CursorPageResponseServerOrganizationMemberResponse, Integer, Hash)>] CursorPageResponseServerOrganizationMemberResponse data, response status code and response headers
    def list_members_with_http_info(organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerOrganizationsApi.list_members ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ServerOrganizationsApi.list_members"
      end
      # resource path
      local_var_path = '/api/server/v1/organizations/{organizationId}/members'.sub('{organizationId}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CursorPageResponseServerOrganizationMemberResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ServerOrganizationsApi.list_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerOrganizationsApi#list_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List organizations
    # Cursor-paginated page of the environment's organizations, with both metadata bags. Optional `name` filter is a case-insensitive substring match.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name Case-insensitive substring filter on the organization name.
    # @option opts [Integer] :limit Maximum number of items in the returned page (default 20; values outside 1-100 are clamped). (default to 20)
    # @option opts [String] :cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page.
    # @return [CursorPageResponseServerOrganizationResponse]
    def list_organizations(opts = {})
      data, _status_code, _headers = list_organizations_with_http_info(opts)
      data
    end

    # List organizations
    # Cursor-paginated page of the environment&#39;s organizations, with both metadata bags. Optional &#x60;name&#x60; filter is a case-insensitive substring match.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name Case-insensitive substring filter on the organization name.
    # @option opts [Integer] :limit Maximum number of items in the returned page (default 20; values outside 1-100 are clamped). (default to 20)
    # @option opts [String] :cursor Opaque cursor returned by the previous page&#39;s &#x60;nextCursor&#x60;. Omit to fetch the first page.
    # @return [Array<(CursorPageResponseServerOrganizationResponse, Integer, Hash)>] CursorPageResponseServerOrganizationResponse data, response status code and response headers
    def list_organizations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerOrganizationsApi.list_organizations ...'
      end
      # resource path
      local_var_path = '/api/server/v1/organizations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CursorPageResponseServerOrganizationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ServerOrganizationsApi.list_organizations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerOrganizationsApi#list_organizations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update organization membership metadata
    # Deep-merges into either bag on one membership, with the same tri-state contract as the organization endpoint. Each bag on the membership has its own 8 KB budget, separate from the organization's bags.
    # @param organization_id [String] 
    # @param member_user_id [String] 
    # @param update_organization_metadata_request [UpdateOrganizationMetadataRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ServerOrganizationMemberResponse]
    def update_member_metadata(organization_id, member_user_id, update_organization_metadata_request, opts = {})
      data, _status_code, _headers = update_member_metadata_with_http_info(organization_id, member_user_id, update_organization_metadata_request, opts)
      data
    end

    # Update organization membership metadata
    # Deep-merges into either bag on one membership, with the same tri-state contract as the organization endpoint. Each bag on the membership has its own 8 KB budget, separate from the organization&#39;s bags.
    # @param organization_id [String] 
    # @param member_user_id [String] 
    # @param update_organization_metadata_request [UpdateOrganizationMetadataRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerOrganizationMemberResponse, Integer, Hash)>] ServerOrganizationMemberResponse data, response status code and response headers
    def update_member_metadata_with_http_info(organization_id, member_user_id, update_organization_metadata_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerOrganizationsApi.update_member_metadata ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ServerOrganizationsApi.update_member_metadata"
      end
      # verify the required parameter 'member_user_id' is set
      if @api_client.config.client_side_validation && member_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'member_user_id' when calling ServerOrganizationsApi.update_member_metadata"
      end
      # verify the required parameter 'update_organization_metadata_request' is set
      if @api_client.config.client_side_validation && update_organization_metadata_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_organization_metadata_request' when calling ServerOrganizationsApi.update_member_metadata"
      end
      # resource path
      local_var_path = '/api/server/v1/organizations/{organizationId}/members/{memberUserId}/metadata'.sub('{organizationId}', CGI.escape(organization_id.to_s)).sub('{memberUserId}', CGI.escape(member_user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_organization_metadata_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ServerOrganizationMemberResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ServerOrganizationsApi.update_member_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerOrganizationsApi#update_member_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update organization metadata
    # Deep-merges into either metadata bag. Each bag is tri-state: omit the key to leave the bag unchanged, or send an object to deep-merge into it (a key set to null removes it). Each bag is capped at 8 KB on its own, measured on the merged result rather than on the patch you send. A request naming neither bag is a 400.
    # @param organization_id [String] 
    # @param update_organization_metadata_request [UpdateOrganizationMetadataRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ServerOrganizationResponse]
    def update_organization_metadata(organization_id, update_organization_metadata_request, opts = {})
      data, _status_code, _headers = update_organization_metadata_with_http_info(organization_id, update_organization_metadata_request, opts)
      data
    end

    # Update organization metadata
    # Deep-merges into either metadata bag. Each bag is tri-state: omit the key to leave the bag unchanged, or send an object to deep-merge into it (a key set to null removes it). Each bag is capped at 8 KB on its own, measured on the merged result rather than on the patch you send. A request naming neither bag is a 400.
    # @param organization_id [String] 
    # @param update_organization_metadata_request [UpdateOrganizationMetadataRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerOrganizationResponse, Integer, Hash)>] ServerOrganizationResponse data, response status code and response headers
    def update_organization_metadata_with_http_info(organization_id, update_organization_metadata_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerOrganizationsApi.update_organization_metadata ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ServerOrganizationsApi.update_organization_metadata"
      end
      # verify the required parameter 'update_organization_metadata_request' is set
      if @api_client.config.client_side_validation && update_organization_metadata_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_organization_metadata_request' when calling ServerOrganizationsApi.update_organization_metadata"
      end
      # resource path
      local_var_path = '/api/server/v1/organizations/{organizationId}/metadata'.sub('{organizationId}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_organization_metadata_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ServerOrganizationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ServerOrganizationsApi.update_organization_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerOrganizationsApi#update_organization_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
